# Node dependencies (instalamos dentro del contenedor)
node_modules/
npm-debug.log*

# Reportes y resultados
allure-results/
allure-report/
playwright-report/
test-results/
playwright-report.zip

# Evidencias de pruebas
**/*.png
**/*.webm
**/*.zip
**/*.log

# IDE / Sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git
.gitignore
